/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#111, #333);
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
/* ABOUT SECTION */
.about {
    padding: 80px 20px;
    text-align: center;
    background: white;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    color: #333;
}
